@use "mixins.scss" as *;

$button-height: 252px;
$button-background: green;

//========== Variables ==========//
:root {
  //------- fonts -------//
  --font-1: 'Ubuntu', sans-serif;
  //------- sizes -------//
  --resizer: clamp(12px, 1vw, 16px);
  --resizer-mobile: clamp(10px, 1.5vw, 12px);
  --margin-global: 9em; // too can use 6em
  @include media(max, small) {--margin-global: clamp(1em, 5vw, 4em)}
  --parent: 1600px;
  --subparent: 1900px;
  --h-navbar: 100px;
  @include media(max, small) {--h-navbar: 80px}
  --w-scroll: 4px;
  //------- shadows -------//
  --shadow-filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.3));
  --shadow-card: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


//========== Colors ==========//
$bg-app:            rgb(var(--v-theme-background-app));
$primary:           rgb(var(--v-theme-primary));
$secondary:         rgb(var(--v-theme-secondary));
$accent:            rgb(var(--v-theme-accent));
$error:             rgb(var(--v-theme-error));
$warning:           rgb(var(--v-theme-warning));
$success:           rgb(var(--v-theme-success));
$label:             rgb(var(--v-theme-label));
$text-grey:         rgb(var(--v-theme-text-grey));
$line:              rgba(var(--v-theme-foreground), .6);

$btn:           #EAE823;
// $btn-pressed:   #AD0FD5;
// $btn-inactive:  #AD0FD5;
$text-btn:      #000000;
$card:          hsl(210, 48%, 13%, .45);
$gradient:      linear-gradient(to right top,#356D74,#2A505C,#21394A,#1A293D,#172035,#161D33,#161E34,#192539,#1E3143,#244251,#2D5862,#387378,#449492,#53B9B1,#63E2D2);
$hover:         hsl(288 90% 10%);
$card-title-color:  $label;

//========== Layout ==========//
$content-padding:                           24px;
$shadow-filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.3));

//========== Card ==========//
$card-shadow: 0 3px 11px 0 #111011, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;
$shadow-card: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border-card: 20px;

//========== Buttons ==========//
$button-shadow: 0px 3px 11px 0px #E8EAFC, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;
$shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border-btn: 10px;

//========== boxes ==========//
$clip-path: polygon(
  0% var(--c-size),
  var(--c-size) var(--c-size),
  var(--c-size) 0%,
  calc(100% - var(--c-size)) 0%,
  calc(100% - var(--c-size)) var(--c-size),
  100% var(--c-size),
  100% calc(100% - var(--c-size)),
  calc(100% - var(--c-size)) calc(100% - var(--c-size)),
  calc(100% - var(--c-size)) 100%,
  var(--c-size) 100%,
  var(--c-size) calc(100% - var(--c-size)),
  0% calc(100% - var(--c-size))
);
$clip-path-top: polygon(
  0% var(--c-size),
  var(--c-size) var(--c-size),
  var(--c-size) 0%,
  calc(100% - var(--c-size)) 0%,
  calc(100% - var(--c-size)) var(--c-size),
  100% var(--c-size),
  100% 100%,
  0% 100%
);
$clip-path-bottom: polygon(
  0% 0%,
  100% 0%,
  100% calc(100% - var(--c-size)),
  calc(100% - var(--c-size)) calc(100% - var(--c-size)),
  calc(100% - var(--c-size)) 100%,
  var(--c-size) 100%,
  var(--c-size) calc(100% - var(--c-size)),
  0% calc(100% - var(--c-size))
);

//========== Hover ==========//
$ease: cubic-bezier(0.23, 1, 0.32, 1);
$ease-return: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-slide: cubic-bezier(0.4, 0.1, 0.7, 0.95);
$skew-right: skewX(12deg) translateX(1px);
$skew-left: skewX(-12deg) translateX(-1px);


//========== custome classes ==========//
.flr {filter: invert(100%) !important}
.flr_inv {filter: invert(0%) !important}

//========== other global vars ==========//

