@use '@/assets/styles/main.scss' as *;
//---------------------------------------------------------------------------------------------//
//======================================== layout =============================================//
//---------------------------------------------------------------------------------------------//

#layout {
  // overflow: hidden;

  //- responsive font size -//
  & > * {
    font-size: var(--resizer);
  }
  .v-main {
    & > * {
      @include media(max, small) {
        font-size: var(--resizer-mobile)
      }
    }
  }

  // footer margin modifiable
  & .with {
    padding-block: calc(var(--h-navbar) + 20px) var(--h-footer, 80px) !important
  }
  & .without {
    padding-block: calc(var(--h-navbar) + 20px) 0 !important
  }
}
