@use "./config/variables.scss" as *;
@use "./config/mixins.scss" as *;
@use 'vuetify/settings'; /* with (
); */


//---------------------------------------------------------------------------------------------//
//?========== helper classes ==========//
//---------------------------------------------------------------------------------------------//
.padless-inside > * {
  padding: 0;
}

.progress-inside .v-progress-circular {
  min-width: var(--loader-size, 60%);
  min-height: var(--loader-size, 60%);
}


.activeRipple {
  span {
    color: $primary;
    background-color: $primary
  }
}
.activeClass {
  background-color: $primary;
  color: #fff;
  & * {color: #fff}
}
.activeClass2 {
  background-color: $primary;
  border: 1px solid #000000;
  color: #fff;
  & * {color: #fff}
}

.activeBtn {
  transition: .5s $ease-return;
  &::after, &::before {display: none}
  &:active {
    box-shadow: inset 0 6px 4px 0px rgba(0, 0, 0, .3);
  }
}


//---------------------------------------------------------------------------------------------//
//?========== direct settings ==========//
//---------------------------------------------------------------------------------------------//
.v-otp-input {
  .v-field--focused .v-field__outline * {
    border-color: $primary;
  }
}

.v-img {
  img {
    border: var(--border, initial);
    border-radius: var(--border-radius, initial);
  }
}


//---------------------------------------------------------------------------------------------//
//?========== utility classes ==========//
//---------------------------------------------------------------------------------------------//
[c-font] {
  text-decoration: var(--under, initial);
  font-size: var(--fs, 16px);
  letter-spacing: var(--ls, normal);
  line-height: var(--lh, 1);
}
[c-box] {
  width: var(--w, auto);
  max-width: var(--max-w, auto);
  min-width: var(--min-w, auto);
  height: var(--h, auto);
  max-height: var(--max-h, auto);
  min-height: var(--min-h, auto);
  padding: var(--p, initial);
  margin: var(--m, initial);
  box-shadow: var(--bs, initial);
  border: var(--b, initial);
  border-radius: var(--br, initial);
  background: var(--bg, initial);
}

.font-resizer {font-size: var(--resizer)}
.font-1 {font-family:var(--font-1)}
.font-2 {font-family:var(--font-2)}
.font-3 {font-family:var(--font-3)}
.font-4 {font-family:var(--font-4)}
.font-5 {font-family:var(--font-5)}
.font-6 {font-family:var(--font-6)}

.w100 {--fw: 100; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w200 {--fw: 200; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w300 {--fw: 300; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w400 {--fw: 400; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w500 {--fw: 500; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w600 {--fw: 600; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w700 {--fw: 700; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w800 {--fw: 800; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w900 {--fw: 900; font-weight: var(--fw);* {font-weight: var(--fw)}}
.wbold {--fw: bold; font-weight: var(--fw);* {font-weight: var(--fw)}}

.d-contents {display: contents}

[class*="flex-"] {
  &:not(.d-flex, [class*="-1"], [class*="-0"], [class*="-fill"],
  [class*="-grow"], [class*="-shrink"]) {display: flex;}

  &[class*="-acenter"] {align-items: center}
  &[class*="-jcenter"] {justify-content: center}
  &[class*="-center"] {align-items: center;justify-content: center}
  &[class*="-astart"] {align-items: flex-start}
  &[class*="-jstart"] {justify-content: flex-start}
  &[class*="-start"] {align-items: flex-start;justify-content: flex-start}
  &[class*="-aend"] {align-items: flex-end}
  &[class*="-jend"] {justify-content: flex-end}
  &[class*="-end"] {align-items: flex-end;justify-content: flex-end}
  &[class*="-spacea"] {justify-content: space-around}
  &[class*="-spaceb"] {justify-content: space-between}
  &[class*="-spacee"] {justify-content: space-evenly}
  &[class*="-space-center"] {align-items: center;justify-content: space-between}
  &[class*="-column-center"] {flex-direction: column;}
}

.overscroll-auto {overscroll-behavior: auto}
.overscroll-contain {overscroll-behavior: contain}
.text-first::first-letter {text-transform: uppercase}
.aspect {--aspect: 1 / 1;aspect-ratio: var(--aspect)}
.reverse {transform: rotate(180deg)}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-box {
  --lines: initial;

  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pointer {cursor: pointer}
.p-events {pointer-events: all}
.p-no-events {pointer-events: none}
.text-deco {text-decoration: underline}
.text-not-deco {text-decoration: none}

.isolate {isolation: isolate}
.relative {position: relative}
.absolute-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.absolute {
  --t: 0; --l: 0; --r: 0; --b: 0; --m: auto;

  position: absolute;
  top: var(--t, 0);
  bottom: var(--b, 0);
  left: var(--l, 0);
  right: var(--r, 0);
  margin: var(--m, auto);
}
.anchor-line-a {
  --t: 0; --b: 0; --l: 0; --r: 0; --m: auto; --w-line: 100%; --h-line: 1px;

  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: var(--t, 0);
    bottom: var(--b, 0);
    left: var(--l, 0);
    right: var(--r, 0);
    margin: var(--m, auto);
    width: var(--w-line);
    height: var(--h-line);
    background-color: var(--bg-line, #000);
  }
}
.anchor-line-b {
  --t: 0; --b: 0; --l: 0; --r: 0; --m: auto; --w-line: 100%; --h-line: 1px;

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: var(--t, 0);
    bottom: var(--b, 0);
    left: var(--l, 0);
    right: var(--r, 0);
    margin: var(--m, auto);
    width: var(--w-line);
    height: var(--h-line);
    background-color: var(--bg-line, #000);
  }
}


// TODO checkout for update
// //---------------------------------------------------------------------------------------------//
// //========== vuetify classes (components) ==========//
// //---------------------------------------------------------------------------------------------//

// //- data table -//
// .v-data-table {
//   --bg: transparent;
//   --spacing: 20px;
//   // th
//   --c-th: var(--accent);
//   --fw-th: var(--fw, bold);
//   --fs-th: max(14px, 1.1em);
//   --distance-th: 0;
//   // td
//   --bg-td: var(--secondary);
//   --p-td: 20px;
//   --br-td: 30px;
//   --fs-td: max(16px, 1.3125em);

//   background-color: var(--bg);
//   table {border-spacing: 0 var(--spacing)}

//   thead {
//     transform: translateY(var(--distance-th));
//     tr {
//       th {
//         border-bottom: none;
//         span {
//           font-size: var(--fs-th);
//           font-weight: var(--fw-th);
//           color: var(--c-th);
//         }
//       }
//     }
//   }

//   tbody {
//     tr {
//       background-color: var(--bg-td);
//       td {
//         padding: var(--p-td);
//         border-bottom: none;
//         &:not(:has(span)), span:not(.v-btn *) {font-size: var(--fs-td)}
//         &:first-of-type {border-radius: var(--br-td) 0 0 var(--br-td)}
//         &:last-of-type {border-radius: 0 var(--br-td) var(--br-td) 0}
//       }
//     }
//   }
// }


// //- default inputs -//

// //- input textarea
// .v-input:not(.not_vuetify, .not) {
//   --h-input: 85px;

//   textarea {height: var(--h-input)}
// }

// //- input slot
// .v-field__input:not(.not_vuetify, .not) {
//   --bg: rgba(245, 245, 245, 0.4);
//   --c: #000000;
//   --c-label: #FFFFFF;
//   --c-place: #6e6e6e;
//   --b: initial;
//   --ol: initial;
//   --br: 30px;
//   --p: 0 12px;
//   --w: initial;
//   --max-w: none;
//   --min-w: none;
//   --h: 2.75em;
//   --bs: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
//   --f: none;
//   --t: none;
//   --o-disabled: .5;
//   // normal
//   --fw: 400;
//   --ff: var(--font-2);
//   --tt: none;
//   --ls: normal;
//   --lh: 1;
//   // icon
//   --fs-icon: var(--fs, 1.2em);
//   // label
//   --fs-label: calc(var(--fs, 1.2em) - .15em);
//   --fw-label: var(--fw);
//   --ff-label: var(--ff);
//   --tt-label: var(--tt);
//   --ls-label: var(--ls);
//   --lh-label: var(--lh);
//   --stroke-label: var(--stroke, initial);
//   // placeholder
//   --fs-place: 1em;
//   --fw-place: var(--fw);
//   --ff-place: var(--ff);
//   --tt-place: var(--tt);
//   --ls-place: var(--ls);
//   --lh-place: var(--lh);
//   --stroke-place: var(--stroke, initial);

//   width: var(--w);
//   max-width: var(--max-w);
//   min-width: var(--min-w);
  
//   // under testing
//   & .v-input__control {
//     display: flex;
//     justify-content: center;
//   }
//   // under testing
  
//   & .v-input__slot {
//     background: var(--bg);
//     border-radius: var(--br);
//     border: var(--b);
//     outline: var(--ol);
//     padding: var(--p);
//     min-height: var(--h);
//     box-shadow: var(--bs);
//     transform: var(--t);
//     filter: var(--f);
//   }
  
//   // testing
//   & i {font-size: calc(var(--fs-icon) + .3em)}
//   // testing
  
//   // text //
//   & :is(input[type], button[type], textarea, .v-select__selection) {
//     color: var(--c);
//     font-size: var(--fs, max(14px, 1.2em));
//     font-weight: var(--fw);
//     font-family: var(--ff);
//     text-transform: var(--tt);
//     letter-spacing: var(--ls);
//     line-height: var(--lh);
//     -webkit-text-stroke: var(--stroke);
//     -moz-text-stroke: var(--stroke);
//     -ms-text-stroke: var(--stroke);
//     -o-text-stroke: var(--stroke);
    
//     // placeholder //
//     &::placeholder {
//       color: var(--c-place);
//       font-size: var(--fs-place);
//       font-weight: var(--fw-place);
//       font-family: var(--ff-place);
//       text-transform: var(--tt-place);
//       letter-spacing: var(--ls-place);
//       line-height: var(--lh-place);
//       -webkit-text-stroke: var(--stroke-place);
//       -moz-text-stroke: var(--stroke-place);
//       -ms-text-stroke: var(--stroke-place);
//       -o-text-stroke: var(--stroke-place);
//     }
//   }
  
//   // label //
//   & .v-label {
//     color: var(--c-label);
//     font-size: var(--fs-label);
//     font-weight: var(--fw-label);
//     font-family: var(--ff-label);
//     text-transform: var(--tt-label);
//     letter-spacing: var(--ls-label);
//     line-height: var(--lh-label);
//     -webkit-text-stroke: var(--stroke-label);
//     -moz-text-stroke: var(--stroke-label);
//     -ms-text-stroke: var(--stroke-label);
//     -o-text-stroke: var(--stroke-label);
//   }
  
//   // input statements //
//   &.v-input--is-focused:not(.not_focus, .not_statement) .v-input__slot {--ol: 1px solid rgba(255, 255, 255, 0.3)}
//   &.error--text:not(.not_error, .not_statement) .v-input__slot {--ol: 1px solid var(--error)}
//   &.v-input--is-disabled:not(.not_disabled, .not_statement) {opacity: var(--o-disabled); pointer-events: none}
// }


// //- menu select (desplegable menu) -//
// .v-menu__content {overscroll-behavior: contain}

// .v-select-list {
//   font-size: var(--resizer);
//   background: var(--secondary);
//   border-radius: $border-btn;
//   overflow: hidden;
  
//   :is(.v-list-item__title, span) {
//     font-size: 1em;
//     color: #ffffff;
    
//     &::first-letter {text-transform: uppercase}
//   }
  
//   .v-list-item {
//     min-height: 3em;
//     &--active {
//       background: $btn;
      
//       :is(.v-list-item__title, span) {color: $text-btn}
//     }
//   }
// }


// //- dialog -//
// .v-dialog {
//   overscroll-behavior: contain;
  
//   &::-webkit-scrollbar {display: none}
//   // @include media(max, 500px) {margin-inline: 0}
// }


//---------------------------------------------------------------------------------------------//
//?==================================== default settings ======================================//
//---------------------------------------------------------------------------------------------//
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--h-navbar) + 2em);
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ? disable default spin on input type="number"
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   /* display: none; <- Crashes Chrome on hover */
//   -webkit-appearance: none;
//   margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
// }

// /* Firefox */
// input[type=number] {
//   appearance: textfield;
//   -moz-appearance: textfield;
// }


//---------------------------------------------------------------------------------------------//
//?======================================== scrollbar =========================================//
//---------------------------------------------------------------------------------------------//
@include reducedMotion {
  ::-webkit-scrollbar {
    width: var(--w-scroll);
    height: var(--w-scroll);
    background: $bg-app;
    // &:hover {background: $secondary}
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: $primary;
  }
  body {
    &::-webkit-scrollbar {
      width: calc(var(--w-scroll) + 6px);
      height: calc(var(--w-scroll) + 6px)
    }
  }
}


//---------------------------------------------------------------------------------------------//
//?====================================== defautl color =======================================//
//---------------------------------------------------------------------------------------------//
:is(span, p, a, h1, h2, h3, h4, h5, h6, label, button, ul, img, button i, div i, input, textarea, th, td, .v-list-item__title,
.v-tab, .v-input .v-input__slot *, .v-data-footer__select, .v-data-footer__pagination, .v-data-footer__icons::before):not(.not_clr, .not) {
  -webkit-text-stroke: var(--stroke, initial);
  -moz-text-stroke: var(--stroke, initial);
  -ms-text-stroke: var(--stroke, initial);
  -o-text-stroke: var(--stroke, initial);
}

body {background: $bg-app}
.v-application {
  background: center no-repeat fixed $bg-app;
  background-size: cover;
}

* {caret-color: var(--caret, rgb(var(--v-theme-primary)))}
::selection {
  background-color: #ff4081;
  color: $bg-app;
}
:-webkit-autofill {
  -webkit-text-fill-color: rgb(var(--v-theme-primary));
  box-shadow: 0 0 0px 1000px #000 inset;
}


//---------------------------------------------------------------------------------------------//
//?==================================== transition routes =====================================//
//---------------------------------------------------------------------------------------------//

//======= pages =======//
// .page-enter-active,
// .page-leave-active {
//   transition: opacity 150ms $ease-slide;
//   transition-delay: .2s, 0s;
// }
// .page-enter,
// .page-leave-to {
//   opacity: 0;
// }

//-- layouts --//
.layout-enter-active,
.layout-leave-active {
  transition: opacity 150ms $ease-slide;
  transition-delay: .2s, 0s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}


//---------------------------------------------------------------------------------------------//
//?======================================= html (tags) ========================================//
//---------------------------------------------------------------------------------------------//
img:not(.not_html, .not, .v-img__img) {
  background: var(--bg, initial);
  width: var(--w, auto);
  max-width: var(--max-w, auto);
  min-width: var(--min-w), auto;
  height: var(--h, auto);
  max-height: var(--max-h, auto);
  min-height: var(--min-h, auto);
  aspect-ratio: var(--ar, initial);
  padding: var(--p, initial);
  border: var(--b, initial);
  border-radius: var(--br, initial);
  box-shadow: var(--bs, none);
  transform: var(--t, none);
  object-fit: var(--of, initial);
  filter: var(--f, none);
}
