@use "./utils/mixins.scss" as *;
@use "./utils/variables.scss" as vars;

@use "vuetify/lib/styles/generic";
@use "vuetify/lib/styles/elements";
@use "vuetify/lib/styles/utilities";
@use 'vuetify/settings'; /* with (
); */

//---------------------------------------------------------------------------------------------//
//?========== defaults config classes ==========//
//---------------------------------------------------------------------------------------------//
.padless-inside > * { padding: 0 }

.limit-overlay {
  max-width: max-content !important;
  min-width: max-content !important;
}

.progress-inside .v-progress-circular {
  min-width: var(--loader-size, 60%);
  min-height: var(--loader-size, 60%);
}


.activeRipple {
  span {
    color: vars.$primary;
    background-color: vars.$primary
  }
}
.activeClass {
  background-color: vars.$primary;
  color: #fff;
  & * {color: #fff}
}
.activeBtn {
  transition: .5s vars.$ease-return;
  &::after, &::before {display: none}
  &:active {
    box-shadow: inset 0 6px 4px 0px rgba(0, 0, 0, .3);
  }
}


//---------------------------------------------------------------------------------------------//
//?========== direct settings ==========//
//---------------------------------------------------------------------------------------------//
.v-select__content {
  border: 1px solid vars.$primary;
  border-radius: 12px;
}

.v-input:not(.not) {
  .v-field {
    border-radius: 12px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  }

  &:not(.v-textarea ) .v-field__input {
    align-content: center;
    padding-block: 0;
  }

  input {
    font-size: 15px;
    height: 100%;
  }
}

.v-otp-input {

  .v-field {
    border-radius: 15px;
    border: 1.5px solid vars.$primary;
  }

  .v-field--focused .v-field__outline * { border-color: vars.$primary }
}

.v-img {
  img {
    border: var(--border, initial);
    border-radius: var(--border-radius, initial);
  }
}

.v-table {
  // border-radius: 8px;
  
  .v-data-table-footer {
    gap: 20px;
    margin-top: 10px;
    padding-inline: 24px;
    padding-bottom: 12px;

    // &__info, &__pagination { display: none !important }

    &__items-per-page { padding-right: 0 }

    // .v-pagination button {border-radius: 8px }
  }
}

.v-dialog {
  .v-overlay__content {

    > .v-card {
      overflow: hidden;

      padding: 10px 20px;
      border-radius: 15px;

      .v-card-actions {
        padding: 0;
        gap: 5px;
      }
    }
  }
}


//---------------------------------------------------------------------------------------------//
//?========== utility classes ==========//
//---------------------------------------------------------------------------------------------//
.font-resizer {font-size: var(--resizer)}
.font-1 {font-family:var(--font-1)}
.font-2 {font-family:var(--font-2)}
.font-3 {font-family:var(--font-3)}
.font-4 {font-family:var(--font-4)}
.font-5 {font-family:var(--font-5)}
.font-6 {font-family:var(--font-6)}

.w100 {--fw: 100; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w200 {--fw: 200; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w300 {--fw: 300; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w400 {--fw: 400; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w500 {--fw: 500; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w600 {--fw: 600; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w700 {--fw: 700; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w800 {--fw: 800; font-weight: var(--fw);* {font-weight: var(--fw)}}
.w900 {--fw: 900; font-weight: var(--fw);* {font-weight: var(--fw)}}
.wbold {--fw: bold; font-weight: var(--fw);* {font-weight: var(--fw)}}

.d-contents {display: contents}

[class*="flex-"] {
  &:not(.d-flex, [class*="-1"], [class*="-0"], [class*="-fill"],
  [class*="-grow"], [class*="-shrink"]) {display: flex;}

  &[class*="-acenter"] {align-items: center}
  &[class*="-jcenter"] {justify-content: center}
  &[class*="-center"] {align-items: center;justify-content: center}
  &[class*="-astart"] {align-items: flex-start}
  &[class*="-jstart"] {justify-content: flex-start}
  &[class*="-start"] {align-items: flex-start;justify-content: flex-start}
  &[class*="-aend"] {align-items: flex-end}
  &[class*="-jend"] {justify-content: flex-end}
  &[class*="-end"] {align-items: flex-end;justify-content: flex-end}
  &[class*="-spacea"] {justify-content: space-around}
  &[class*="-spaceb"] {justify-content: space-between}
  &[class*="-spacee"] {justify-content: space-evenly}
  &[class*="-space-center"] {align-items: center;justify-content: space-between}
  &[class*="-column-"] {flex-direction: column}
}

.overscroll-auto {overscroll-behavior: auto}
.overscroll-contain {overscroll-behavior: contain}
.text-first::first-letter {text-transform: uppercase}
.aspect {--aspect: 1 / 1;aspect-ratio: var(--aspect)}
.reverse {transform: rotate(180deg)}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-box {
  --lines: initial;

  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pointer {cursor: pointer}
.p-events {pointer-events: all}
.p-no-events {pointer-events: none}
.text-deco {text-decoration: underline}
.text-not-deco {text-decoration: none}

.isolate {isolation: isolate}
.relative {position: relative}
.absolute-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.absolute {
  --t: 0; --l: 0; --r: 0; --b: 0; --m: auto;

  position: absolute;
  top: var(--t, 0);
  bottom: var(--b, 0);
  left: var(--l, 0);
  right: var(--r, 0);
  margin: var(--m, auto);
}
.anchor-line-a {
  --t: 0; --b: 0; --l: 0; --r: 0; --m: auto; --w-line: 100%; --h-line: 1px;

  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: var(--t, 0);
    bottom: var(--b, 0);
    left: var(--l, 0);
    right: var(--r, 0);
    margin: var(--m, auto);
    width: var(--w-line);
    height: var(--h-line);
    background-color: var(--bg-line, #000);
  }
}
.anchor-line-b {
  --t: 0; --b: 0; --l: 0; --r: 0; --m: auto; --w-line: 100%; --h-line: 1px;

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: var(--t, 0);
    bottom: var(--b, 0);
    left: var(--l, 0);
    right: var(--r, 0);
    margin: var(--m, auto);
    width: var(--w-line);
    height: var(--h-line);
    background-color: var(--bg-line, #000);
  }
}


//---------------------------------------------------------------------------------------------//
//?==================================== default settings ======================================//
//---------------------------------------------------------------------------------------------//
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--h-navbar) + 2em);
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ? disable default spin on input type="number"
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   /* display: none; <- Crashes Chrome on hover */
//   -webkit-appearance: none;
//   margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
// }

// /* Firefox */
// input[type=number] {
//   appearance: textfield;
//   -moz-appearance: textfield;
// }


//---------------------------------------------------------------------------------------------//
//?======================================== scrollbar =========================================//
//---------------------------------------------------------------------------------------------//
@include reducedMotion {
  ::-webkit-scrollbar {
    width: var(--w-scroll);
    height: var(--w-scroll);
    background: vars.$bg-app;
    // &:hover {background: $secondary}
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: vars.$primary;
  }
  body {
    &::-webkit-scrollbar {
      width: calc(var(--w-scroll) + 6px);
      height: calc(var(--w-scroll) + 6px)
    }
  }
}


//---------------------------------------------------------------------------------------------//
//?====================================== default color =======================================//
//---------------------------------------------------------------------------------------------//
:is(span, p, a, h1, h2, h3, h4, h5, h6, label, button, ul, img, button i, div i, input, textarea, th, td, .v-list-item__title,
.v-tab, .v-input .v-input__slot *, .v-data-footer__select, .v-data-footer__pagination, .v-data-footer__icons::before):not(.not_clr, .not) {
  -webkit-text-stroke: var(--stroke, initial);
  -moz-text-stroke: var(--stroke, initial);
  -ms-text-stroke: var(--stroke, initial);
  -o-text-stroke: var(--stroke, initial);
}

body {background: vars.$bg-app}
.v-application {
  background: center no-repeat fixed vars.$bg-app;
  background-size: cover;
}

* {caret-color: var(--caret, rgb(var(--v-theme-primary)))}
::selection {
  background-color: #ff4081;
  color: vars.$bg-app;
}
:-webkit-autofill {
  -webkit-text-fill-color: rgb(var(--v-theme-primary));
  box-shadow: 0 0 0px 1000px #000 inset;
}


//---------------------------------------------------------------------------------------------//
//?==================================== transition routes =====================================//
//---------------------------------------------------------------------------------------------//

//======= pages =======//
// .page-enter-active,
// .page-leave-active {
//   transition: opacity 150ms vars.$ease-slide;
//   transition-delay: .2s, 0s;
// }
// .page-enter,
// .page-leave-to {
//   opacity: 0;
// }

//-- layouts --//
.layout-enter-active,
.layout-leave-active {
  transition: opacity 150ms vars.$ease-slide;
  transition-delay: .2s, 0s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}


//---------------------------------------------------------------------------------------------//
//?======================================= html (tags) ========================================//
//---------------------------------------------------------------------------------------------//
img:not(.not_html, .not, .v-img__img) {
  background: var(--bg, initial);
  width: var(--w, auto);
  max-width: var(--max-w, auto);
  min-width: var(--min-w), auto;
  height: var(--h, auto);
  max-height: var(--max-h, auto);
  min-height: var(--min-h, auto);
  aspect-ratio: var(--ar, initial);
  padding: var(--p, initial);
  border: var(--b, initial);
  border-radius: var(--br, initial);
  box-shadow: var(--bs, none);
  transform: var(--t, none);
  object-fit: var(--of, initial);
  filter: var(--f, none);
}
